﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Manager/ManagerMaster.Master" AutoEventWireup="true" CodeBehind="ManagerHomeP.aspx.cs" Inherits="PL.Manager.ManagerHomeP" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <style type="text/css">
        .auto-style1 {
            width: 78%;
            height: 386px;
        }
        .auto-style3 {
            height: 26px;
        }
        .auto-style5 {
            height: 26px;
            width: 216px;
        }
        .auto-style6 {
            width: 216px;
        }
        .auto-style7 {
            height: 30px;
        }
        .auto-style9 {
            width: 216px;
            height: 30px;
        }
        .auto-style10 {
            height: 26px;
            width: 209px;
        }
        .auto-style11 {
            width: 209px;
        }
        .auto-style13 {
            height: 26px;
            width: 104px;
        }
        .auto-style14 {
            width: 104px;
            font-size: xx-large;
            text-align: center;
        }
        .auto-style16 {
            width: 185px;
        }
        .auto-style17 {
            width: 185px;
        }
        .auto-style20 {
            width: 77px;
        }
        .auto-style21 {
            height: 30px;
            width: 77px;
        }
        .auto-style22 {
            height: 26px;
            width: 77px;
        }
        .auto-style23 {
            width: 185px;
            font-size: xx-large;
        }
                body { 
    background-image: url('/pictures/back.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}
    </style>
</asp:Content>


